.container {
    margin: 5em auto 0 auto;
}

body {
    background-color: rgba(100, 109, 237, 0.973);
}

button {
    margin-left: 1em;
    border-radius: 35%;
    background-color: purple;
    color: rgb(240, 211, 84);
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1em;
    
}